biopython==1.72
configparser==3.5.0
Cython==0.28.2
matplotlib==2.2.2
numba==0.38.1
numpy==1.14.2
pandas==0.22.0
pandasql==0.7.3
psutil==5.4.6
scikit-allel==1.1.10
scipy==1.0.1
seqlog==0.3.9
ujson==1.35